brasal-backend/vendor
brasal-backend/.idea
brasal-backend/Homestead.json
brasal-backend/Homestead.yaml
brasal-backend/.env
brasal-backend/.phpunit.result.cache


# Logs

brasal-frontend/node_modules
brasal-frontend/.DS_Store
brasal-frontend/dist
brasal-frontend/dist-ssr
brasal-frontend/coverage
brasal-frontend/*.local


